body {
    background-color: #ffffff;
    color: #346473;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    display: flex; /* Use flexbox for the navbar */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Align items vertically */
    background-color: #346473;
    color: #e9f679 !important;
    padding: 20px; /* Reverted to original value */
}
.navbar-brand {
    color: #ffffff !important;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #e9f679 !important;
}
.link {
    color: #346473;
}
.container {
    padding: 20px; /* Reverted to original value */
    border-radius: 5px;
    margin-top: 20px; /* Reverted to original value */
}
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    color: #ffffff;
    padding-left: 20px; /* Reverted to original value */
}
.btn-outline-secondary {
    color: #e9f679;
    border-color: #e9f679;
}
.btn-outline-secondary:hover {
    color: #346473;
    border-color: #e9f679;
    background-color: #e9f679;
}
.btn-primary {
    color: #ffffff;
    background-color: #346473;
    border-color: #346473;
}
.btn-primary:hover {
    color: #e9f679;
    border-color: #448396;
    background-color: #448396;
}
.img-half-viewport {
    height: 50vh;
    object-fit: cover; /* This will ensure the image covers the full height and width of its container without distorting the aspect ratio */
}
h1, .display-1 {
    font-size: clamp(2rem, 5vw, 3rem);
}
h3, .display-6 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}
h4 {
    font-size: clamp(1.3rem, 3vw, 2rem);
}
p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px; /* Reverted to original value */
    }

    .navbar-brand,
    .navbar-nav .nav-item {
        margin-right: 10px; /* Reverted to original value */
    }

    .navbar-nav {
        display: flex; /* Ensure nav items are flex */
        align-items: center; /* Align items */
    }
}
@media screen and (max-width: 400px) {
    .navbar-brand,
    .navbar-nav .nav-item {
        margin-right: 5px; /* Reverted to original value */
    }
}
